/* Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+JP:wght@500&family=Open+Sans:wght@700&family=Poppins:wght@400;500&family=Work+Sans:wght@500&display=swap');


*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* =======================
   Navigation bar Styles
   ======================= */
    .header{
        width: 1920px;
        height: 1315px;
        background: #FF900E1A;
        /* background-color: rgba(255, 144, 14, 0.1); */
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px  240px 100px 230px;
    }
    .nav-title{
        font-weight: 700;
        font-size: 45px;
        color: #131313;
        border-bottom: 5px solid transparent;
        /* border: 3px;
        border-left-style: solid;
        border-color: #FF900E; */
    }
    .nav-title:hover{
        cursor: pointer;
        border-bottom: 5px solid #42B7E6;
        /* text-decoration: underline #42B7E6; */
        /* text-decoration-color: #42B7E6;   */
        /* outline: 5px solid #ec6713; */
    }
    nav ul{
        display: flex;
        list-style: none;
        font-weight: 500;
        font-size: 18px;
        color: #424242;
        gap: 50px;
    }
    /* nav ul li{
        border-bottom: 3px solid transparent;
    } */
    nav ul li:hover{
        text-decoration: 3px underline #42B7E6;
        /* text-decoration-color: #42B7E6; */
        /* border-bottom: 3px solid #42B7E6; */
        cursor: pointer;

    }

/* =============
   Main Section
   ============= */
    main{
        width: 1920px;
        height: 1315px;
        margin: 0;
    }

/* ==============
   Banner Styles
   ============== */
    .banner-title{
        font-weight: 700;
        font-size: 64px;
        color: #131313;
        text-align: center;
        margin: 0 529px 25px 529px;
    }
    .banner-title:hover{
        cursor: pointer;
        text-decoration: 5px underline;
        text-decoration-color: #42B7E6;
    }
    .banner-description{
        text-align: center;
        font-size: 16px;
        color: #727272;
        margin: 0 526px 30px 526px;
    }
    .btn-primary{
        width: 180px;
        height: 65px;
        border: 0;
        background: #FF900E;
        border-radius: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        margin: 0 870px 50px 870px;
        
    }
    .btn-primary:hover, .btn-second:hover, .btn-third:hover, .list-container img:hover, .features-container article:hover{
        cursor: pointer;
        border: 5px;
        outline-style: solid;
        outline-color: #42B7E6;
    }
    .banner img{
        width: 1440px;
        height: 700px;
        border-radius: 10px;
        margin: 0 240px;
    }

/* =========================================
   Quick list of Our Features Section Styles
   ========================================= */
    .quick-list-section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 300px 130px 300px;
    }
    .list-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    .list-container img{
        border-radius: 10px;
    }
    /* .list-container img:hover{
        cursor: pointer;
        border: 5px;
        outline-style: solid;
        outline-color: #42B7E6;
    } */
    .text-primary{
        color: #727272;
    }
    .text-secondary{ 
        color: #FF900E;
    }
    .quick-list-title{
        font-weight: 500;
        font-size: 45px;
        color: #131313;
        margin-bottom: 25px;
        margin-left: 75px;
    }
    .list-description{
        font-size: 16px;
        color: #727272;
        margin-bottom: 35px;
        margin-left: 75px;
    }
    .btn-second{
        width: 180px;
        height: 65px;
        border: 0;
        background: #FF900E;
        border-radius: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        margin-left: 75px;
        /* cursor: pointer; */
    }

/* =============================================
   Features you will love & enjoy Section Styles
   ============================================= */
   .love-and-enjoy-section{
        display: flex;
   }
   .section-title{
        font-weight: 700;
        font-size: 45px;
        color: #131313;
        margin: 0 150px 25px 240px;
        border: 5px;
        border-left-style: solid;
        border-color: #FF900E;
        margin-top: 40px;
        padding-right: 80px;
        padding-left: 22px;
        /* border-inline-start: solid ; */
        /* border-inline-start-width: 5px; */
   }
   .section-description{
        font-size: 16px;
        color: #727272;
        margin: 0 0 30px 140px;
        padding-right: 10px;
        margin: 0 150px 30px 240px;
   }
   .features-container article{
        width: 586px;
        height: 171px;
        background: #FFFFFF;
        /* box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06); */
        box-shadow: 0px 5px 30px #0000000f;
        border-radius: 10px;
        margin: 0 150px 20px 240px;
   }
   /* .features-container article:hover{
    cursor: pointer;
    border: 5px;
    outline-style: solid;
    outline-color: #42B7E6;
    } */
    article .article-title{
        padding: 30px 300px 10px 35px;
    }
    article .article-description{
        padding: 0 40px 30px 30px;
    }
    .features-container .article-title{
        font-weight: 600;
        font-size: 20px;
        color: #131313;
    }
    .features-container .article-description{
        font-size: 16px;
        color: #727272;
    }
    .love-and-enjoy-section img{
        /* margin: 0 240px 0 0; */
        margin-right: 240px;
    }
    .btn-third{
        position: relative;
        transform: translate(-27%, -63%);
        width: 342px;
        height: 200px;
        padding: 0;
        border: 0;
        border-radius: 10px;
        background: #FF900E;
        font-weight: 700;
        font-size: 65px;
        color: #FFFFFF;
        /* cursor: pointer; */
    }
    .experience{
        font-weight: 500;
        font-size: 25px;
        
    }
    
    
